<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

    <body class="productAdd">
        <%- include('partials/header') %>
            <main class="container">
                <div class="row">
                    <div class="col-12 col-md-10 mx-auto mt-5">
                        <div class="card shadow">
                            <!-- <div class="card-header">
                                
                            </div> -->
                            <div class="card-body">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                            data-bs-target="#home-tab-pane" type="button" role="tab"
                                            aria-controls="home-tab-pane" aria-selected="true">Productos</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                            data-bs-target="#profile-tab-pane" type="button" role="tab"
                                            aria-controls="profile-tab-pane" aria-selected="false">Categorias</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab"
                                            data-bs-target="#contact-tab-pane" type="button" role="tab"
                                            aria-controls="contact-tab-pane" aria-selected="false">Usuarios</button>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel"
                                        aria-labelledby="home-tab" tabindex="0">
                                        <div>
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">N°</th>
                                                        <th scope="col">Proudcto</th>
                                                        <th scope="col">Categoria</th>
                                                        <th scope="col">Precio</th>
                                                        <th scope="col">descuento</th>
                                                        <th scope="col">P.Final</th>
                                                        <th scope="col">Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% products.forEach(({id,title,category,price,discount, image},index)=> {
                                                        %>
                                                        <tr>
                                                            <th scope="row">
                                                                <%= index + 1 %>
                                                            </th>
                                                            <td>
                                                                <%= title %>
                                                            </td>
                                                            <td>
                                                                <%= category || 'Sin especificar' %>
                                                            </td>
                                                            <td>
                                                                <%= price %>
                                                            </td>
                                                            <td>
                                                                <%= discount %>
                                                            </td>
                                                            <td>
                                                                <%= price -(price * discount / 100) %>
                                                            </td>
                                                            <td>
                                                                <div class="d-flex gap-2">
                                                                    <button type="button" class="btn btn-sm btn-primary"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#detailProduct<%= id %>"><i
                                                                            class="fas fa-eye"></i>

                                                                    </button>
                                                                    <div class="modal fade" id="detailProduct<%= id %>"
                                                                        tabindex="-1"
                                                                        aria-labelledby="detailProduct<%= id %>Label"
                                                                        aria-hidden="true">
                                                                        <div class="modal-dialog modal-dialog-centered">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <h5 class="modal-title fs-5"
                                                                                        id="detailProduct<%= id %>Label"><%= title %></h5>
                                                                                    <button type="button"
                                                                                        class="btn-close"
                                                                                        data-bs-dismiss="modal"
                                                                                        aria-label="Close"></button>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <img src="/images/<%= image || 'lomosaltado.jpg' %>" alt="">
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="button"
                                                                                        class="btn btn-secondary"
                                                                                        data-bs-dismiss="modal">Cerrar</button>
                                                                                    
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <a class="btn btn-sm btn-success"
                                                                        href="/products/edit/<%= id %>"><i
                                                                            class="fas fa-edit"></i></a>
                                                                    <a class="btn btn-sm btn-danger"
                                                                        href="/products/remove/<%= id %>"><i
                                                                            class="fas fa-trash"></i></a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <% }) %>
                                                </tbody>
                                                <tfoot>
                                                </tfoot>
                                            </table>
                                            <div>
                                                <a class="btn btn-outline-dark" href="/products/add">Nuevo producto</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel"
                                        aria-labelledby="profile-tab" tabindex="0">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">N°</th>
                                                    <th scope="col">Nombre</th>
                                                    <th scope="col">Cant. Prod.</th>
                                                    <th scope="col">Imagen</th>
                                                    <th scope="col">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% categories.forEach(({id, name, image},index)=> { %>
                                                    <tr>
                                                        <th scope="row">
                                                            <%= index + 1 %>
                                                        </th>
                                                        <td>
                                                            <%= name %>
                                                        </td>
                                                        <td>
                                                            <%= products.filter(product=> product.category ===
                                                                name).length %>
                                                        </td>
                                                        <td><img src="/img/categories/<%= image %>" class="img-fuid"
                                                                alt=""></td>
                                                        <td>
                                                            <div class="d-flex gap-2">
                                                                <a class="btn btn-sm btn-success"
                                                                    href="/categories/edit/<%= id %>"><i
                                                                        class="fas fa-edit"></i></a>
                                                                <a class="btn btn-sm btn-danger"
                                                                    href="/categories/remove/<%= id %>"><i
                                                                        class="fas fa-trash"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                            </tbody>
                                            <tfoot>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel"
                                        aria-labelledby="contact-tab" tabindex="0">
                                        Usuarios!!!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
    </body>