<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body class="body__home">
   <%- include('partials/header') %>
    <img class="home--banner" src="/images/img-home-banner.jpg" alt="">
    <h1>Basado en tu última visita</h1>
    <main class="main">
        <section class="main__section">
            <% products.forEach(({id, title, description, discount, price, section, image}) => { %>
                <article class="main__section--cafetera main__article">
                    <a href="/products/detail/<%= id %>"><img src="/images/<%= image ? image : 'img-cafetera-moulinex.jpg' %>" alt="imagen de la cafetera Moulinex"></a>
                    <img class="main__section__article--stiker" src="/images/<%= section === 'free' ? 'img-gratis.png' : section === 'sale' ? 'img-descuento.png' : 'img-nuevo.png'%>" alt="nuevo">
                    <div class="main__section__div--p">
                        <div class="main__section--truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="home__section__div--pre-des">  
                            <p class="main__section__article__p--precios">$<%= price %></p>
                            <p class="main__section__article__p--descuentos"><%= discount %> % OFF</p>
                            <p class="main__section__article__p--descripciones"><%= description %></p>
                        </div>
                    </div>
                </article>
            <% }) %>               
        </section>
    </main>
    <footer class="footer">
        <section class="footer__section">
            <article class="footer__section__article">
                <p class="footer__section__article__p--icofooter"><i class="fa-solid fa-credit-card"></i></p>
                <p><b>pagá con tarjeta o en efectivo</b></p>
                <p class="footer__article--p">con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago ¡Y siempre es seguro!</p>
            </article>
            <article class="footer__section__article">
                <p class="footer__section__article__p--icofooter"><i class="fa-solid fa-gift"></i></p>
                <p><b>envío gratis desde los $2.500</b></p>
                <p class="footer__article--p">solo por estar registrado en Merado Liebre tenés envíos gratis en miles de productos. Es un beneficio de mercado Puntos.</p>
            </article>
            <article class="footer__section__article">
                <p class="footer__section__article__p--icofooter"><i class="fa-solid fa-user-shield"></i></p>
                <p><b>seguridad de principio a fin</b></p>
                <p class="footer__article--p">¿no te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@.</p>
            </article>
           
        </section>
        <div>
            <p class="footer__div__p--copyright">Copyright  1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>
</html>