<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body class="body__home">
   <%- include('partials/header') %>
   <main class="container">
    <div class="row">
        <div class="col-12 col-md-10 mx-auto mt-5">
            <div class="card shadow">
                <div class="card-header">
                    <h4 class="card-title">Editar Produto</h4>
                </div>
                <div class="card-body">
                    <form action="/products/update/<%= id %>?_method=PUT" method="POST" class="row">

                                    <!--     T I T L E     -->

                        <div class="col-12 col-md-6 mb-3">
                            <label for="name" class="form-label">Titulo </label>
                            <input type="text" class="form-control" name="title" id="name"
                                placeholder="Nombre del producto" value="<%= title %>">
                        </div>

                                    <!--    C A T E G O R Y    -->
                        
                        <div class="col-12 col-md-6 mb-3">
                            <label for="category" class="form-label">Categoría</label>
                            <select class="form-select" id="category" name="category"
                                aria-label="Default select example">
                                <% categories.forEach(item => { %>
                                 <option <%= item.name === category && 'selected' %> value="<%= item.name %>"><%= item.name %></option>
                                <% }) %>
                            </select>
                        </div>

                                    <!--     P R I C E     -->

                        <div class="col-12 col-md-4 mb-3">
                            <label for="price" class="form-label">Precio</label>
                            <input type="number" class="form-control" name="price" id="price" value="<%= price %>"
                                placeholder="Nombre del producto">
                        </div>

                                    <!--     D I S C O U N  T     -->

                        <div class="col-12 col-md-4 mb-3">
                            <label for="discount" class="form-label">Descuento</label>
                            <input type="number" class="form-control" name="discount" id="discount"
                                placeholder="Nombre del producto" value="<%= discount %>">
                        </div>

                                    <!--     S E C T I O N     -->

                        <div class="col-12 col-md-4 mb-3">
                            <label for="section" class="form-label">Seccion</label>
                            <select class="form-select" id="section" name="section"
                                aria-label="Default select example">
                                <% sections.forEach(item => { %>
                                 <option value="<%= item %>" <%= section  === item && 'selected' %>><%= item === 'free' ? 'Gratis' : item === 'sale' ? 'Oferta' : 'Nuevo' %></option>
                                <% }) %>
                            </select>
                        </div>

                        <!--     D E S C R I P T I O N     -->

                        <div class="col-12 mb-3">
                            <label for="description" class="form-label">Descripcion</label>
                            <textarea name="description" id="description" class="form-control"
                                style="resize: none;"><%= description %></textarea>
                        </div>
                        <div class="col-12 col-md-6">
                          <img src="/images/<%= image || /* 'img-tv-samsung-smart.jpg' */ null %>" alt="">
                        </div>
                        <div class="col-12 col-md-6 d-flex align-items-center  justify-content-end gap-2 mb-3">
                            <label for="image" class="btn btn-secondary">Agregar imagen</label>
                            <input type="file" name="image" id="image" hidden>
                            <button class="btn btn-dark">Guardar cambios</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</main>
   </body>